name: build-macos

on:
  workflow_dispatch:

jobs:
  sanity:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: arm64
            runs_on: macos-14
          - name: x86_64
            runs_on: macos-15-intel

    runs-on: ${{ matrix.runs_on }}

    steps:
      - uses: actions/checkout@v4

      - name: Print environment
        shell: bash
        run: |
          set -euxo pipefail
          echo "arch: $(uname -m)"
          sw_vers
          xcodebuild -version
