name: build-linux

on:
  workflow_dispatch:

jobs:
  test-runner:
    runs-on: ubuntu-latest
    steps:
      - name: Print environment
        run: |
          echo "GitHub Actions is running"
          uname -a

